body {
    background-color: black;
}

.scoreBlock {
    font-size: 24px;
    text-align: center;
    color: white;
}

.grid {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    height: 300px;
    width: 560px;
    border: 1px solid white;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blue;
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: purple;
    -webkit-box-shadow: 0 0 34px 9px rgba(229, 6, 255, 0.44);
    -moz-box-shadow: 0 0 34px 9px rgba(229, 6, 255, 0.44);
    box-shadow: 0 0 34px 9px rgba(229, 6, 255, 0.44);
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: red;
    -webkit-box-shadow: 0 34px 9px rgba(255, 6, 6, 0.94);
    -moz-box-shadow: 0 0 34px 9px rgba(255, 6, 6, 0.94);
    box-shadow: 0 0 34px 9px rgba(255, 6, 6, 0.94);
}