body {
    background-color: black;
}

.scoreBlock {
    font-size: 24px;
    text-align: center;
    color: white;
}

.grid {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    height: 300px;
    width: 560px;
    border: 1px solid white;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blue;
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: purple;
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: red;
}